*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root{
	/*--main-color: #002f70;
	--darker-main-color: #002252;*/
	--main-color: #1a1a1a;
	--darker-main-color: black;
	--alt-color: #1a1a1a;
	--darker-alt-color: black;
}

/* -- GLOBAL -- */

body{
	font-family: 'Product Sans', sans-serif;
	font-weight: normal;
	color: var(--main-color); 
}

a {
	color: var(--main-color);
	text-decoration: none;
}


ul{
	list-style: none;
}

.btn {
	color: white;
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 5px;
	transition: 0.3s;
}

.container{
	margin: auto;
	width: 80%;
	overflow: hidden;
}

/* -X- GLOBAL -X- */

/* -- NAV -- */
.upper-nav {
	font-weight: bold;
	font-size: 18px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.lower-nav {
	font-weight: normal;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.lower-nav .nav-links{
	display: flex;
}

.lower-nav .nav-link{
	padding: 30px;
}

/* -X- NAV -X- */

/* -- MAIN -- */

.main .container {
	margin-top: 40px;
	margin-bottom:40px;
	width: 70%;
}

.jdl-n-create h1{
	float: left;
}

.jdl-n-create a{
	float: right;
	background-color: var(--main-color);
	font-size: 0.9rem;
	padding: 13px;
	color: white;
	border-radius: 5px;
	transition: 0.3s;
}

.jdl-n-create a:hover{
	background-color: var(--darker-main-color);
}

.clear {
	clear: both;
}

.tabel {
	padding-top: 40px;
}

.table {
    color: var(--main-color);
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #a8a8a8;
}
 
.table tr th{
    background: var(--main-color);
    color: white;
    font-weight: normal;
}

.table tr .title {
	width: 60%;
}
 
.table, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table tr:hover {
    background-color: #f5f5f5;
}
 
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr, .table td {
	height: 55px;
}

.edit {
	background-color: #0977ab;
	margin-right: 5px;
}

.edit:hover {
	background-color: #05557a;
}

.danger {
	background-color: #de0707;
}

.danger:hover {
	background-color: #c40606;
}

/* -X- MAIN -X- */


/* -- FOOTER -- */

#main-footer{
	color: var(--main-color);
	text-align:center;
	padding:20px;
	margin-top:40px;
}

/* -X- FOOTER -X- */